body{
    background-color:#aea18b;
    color: white; 
    font-size:25px;
    font-family:Arial, Helvetica, sans-serif;
    overflow:hidden;
}

.logo{
    margin-left:8.5px;
    border: 2px dotted #112D32;
    border-radius:10px;
    width: 60px;
    height: 60px;
    background-color:#4F4A41;
    position:relative;
    bottom:50px;
}

.navBar{
    margin-left:15px;
    background-color: #112D32;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    position:relative;
    width:50px;
    height:500px;
    bottom:50px;
    border-radius:50px;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.2);
}

.buttons{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

.buttons a{
    color: white; 
    font-size:25px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 5px; 
    
}
.buttons a:hover{
    color: #88bdbc;
}

.mainContent{
    display:flex;
    flex-direction:column;
    border:double 10px black;
    border-radius:100px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom:50px;
    margin: 0 auto; 
    position: relative; 
    width: 80%; 
    max-width: 1320px; 
    overflow:auto;
    bottom:550px;
    box-sizing: border-box;
}
.images{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.ach{
    width:300px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius:5px;
}
.me{
    width:300px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius:5px;
}

.hobbies{
    width:250px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius:5px;
}

.logo2{
    width:100px;
    height:100px;
    border-radius:100px;
}

.navbar2{
    background-color: #112D32;
    flex-direction:row;
    display:flex;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    margin: 0 auto;
    width:1000px;
    border-radius:50px;
    padding:15px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
    position:relative;
}

.buttons2{
    font-family: Helvetica;
    color:#1a1e22;
    font-size: 25px;
    padding: 5px;
    display:inline-block;
    justify-content:space-around;
    margin-left:50px;
    margin-top:25px;
}

.buttons2 a {
    color: white; 
    text-decoration: none;
    padding: 5px; 
}

.buttons2 a:hover {
    color: #88bdbc; 
}
.control-button{
    display:flex;
    position: absolute; 
    right: 10px;
    top: 10px; 
    justify-content:space-around;
    flex-direction:row;
    background-color:#112D32;
    border:none;
    color:white;
    font-size:25px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius:100px;
    padding:5px;
    box-shadow: 8px 8px 2px 0.5px rgba(0, 0, 0, 0.2);
}
.control-button:hover{
    color:#88bdbc;
}
